.hidden {
    display: none
}

.event-log {
    height: 200px;
    overflow-y: scroll;
    font-size: 125%;
    padding: 10px;
    border: 2px solid black;
}


.uses {
    font-style: italic;
    font-size: 90%;
    padding-top: 5px;
    text-align: center
}

.craft-card-btn {
    text-align: center;
}

.sell-btn {
    margin-bottom: 12px
}